.music-player {
    /* background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 400px; */
    margin: auto;
    text-align: center;
  }
  
  .song-info {
    margin-bottom: 20px;
  }
  
  .artist {
    font-size: 14px;
    color: #666;
  }
  
  .song-title {
    font-size: 20px;
    /* font-weight: bold; */
    color: #023a3f;
  }
  
  .player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  .play-btn {
    background-color: transparent;
    border:2px solid #023a3f;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    color: #023a3f;
    font-size: 15px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    cursor: pointer;
    transition: background-color 0.3s;
  }


  
  .play-btn:hover {
    background-color: #023a3f;
    color: white;
  }

  
  .play-icon{
    margin-top: 10px;
    margin-left: 5px;
  }
  .pause-icon{
    margin-top: 10px;
  }
  
  /* Soundwave animation */
  .sound-wave {
    display: flex;
    margin-left: 20px;
    width: 100%;
  }
  
  .bar {
    width: 4px;
    height: 20px;
    background-color: #023a3f;
    margin: 0 2px;
    margin-left: 15px;
    animation: pulse 1s ease-in-out infinite;
  }
  
  .bar:nth-child(1) {
    animation-delay: 0.1s;
    
  }
  
  .bar:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .bar:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  .bar:nth-child(4) {
    animation-delay: 0.4s;
  }
  
  .bar:nth-child(5) {
    animation-delay: 0.5s;
  }
  
  .sound-wave.active .bar {
    animation-play-state: running;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(1.5);
    }
  }

  .song-selection button{
    background-color: transparent;
    border:2px solid #023a3f;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    color: #023a3f;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .song-selection button{
    background-color: #023a3f;
    color: white;
  }

  .song-selection .play-btn{
    background-color: transparent;
    border:2px solid #023a3f;
    border-radius: 30px;
    width:100px;
    height: 40px;
    color: #023a3f;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  
  .song-selection .play-btn:hover{
    background-color: #023a3f;
    color: white;
  }
  