/* .raindrop {
    position: absolute;
    width: 2px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    bottom: 100%;
    animation: fall linear infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  } */
  
  .raindrop {
    position: absolute;
    width: 2px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    /* top: -10%;  */
    margin-left: -30px;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(1350px); /* Falls past the bottom of the viewport */
    }
}