.reply-section {
    background-color: #f9f9f9; 
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .reply-section h4 {
    margin-bottom: 15px;
    color: #333; 
  }

  .reply-section .rply-cancel{
    background-color: transparent;
    border: none;
    outline: none;
    color: #007bff;
    cursor: pointer;
  }
  
  .reply-form {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 15px;
  }
  
  .reply-form input {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .reply-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 24px;
    background-color: #b6c5c7; 
    color: white;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
  }
  
  .reply-form button:hover {
    background-color: #387379; 
  }
  
  .replies-list {
    margin-top: 10px;
  }
  
  .reply {
    background-color: #ffffff; 
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .reply-author {
    font-weight: bold;
    color: #555; 
  }
  
  .reply-content {
    margin: 10px 0;
    color: #444; 
  }
  
  .reply .reply-date {
    font-size: 13px;
    color: #888; 
  }

  .rply-options{
    display: flex;
  }
  
  .reply-options {
    display: flex;
    margin-top: 10px;
   
  }
  
  .reply-options button {
    background-color: transparent;
    border: none;
    color: #ff4d4f; 
    cursor: pointer;
    transition: color 0.3s;
  }
  
 
  .reply-options button:nth-child(1) {
    color: #007bff; 
  }
  
  .reply-options button:nth-child(1):hover {
    color: #0056b3; 
  }

  .reply-options button:nth-child(2) {
    color: #007bff;
    margin-left: 10px; 
  }

  .reply-options button:nth-child(2):hover {
    color: #0056b3; 
  }
  
  
  .confirm-modal {
    background-color: rgba(0, 0, 0, 0.7); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirm-modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .confirm-modal button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .confirm-modal .confirm {
    background-color: #007bff; 
    color: white;
  }
  
  .confirm-modal .confirm:hover {
    background-color: #0056b3; 
  }
  
  .confirm-modal .cancel {
    background-color: #f44336; 
    color: white;
  }
  
  .confirm-modal .cancel:hover {
    background-color: #d32f2f; 
  }
  
  @media(max-width:440px){
    .reply-form input{
      width: 100%;
      width: 185px;
    }

    .reply-form input::placeholder{
      font-size: 12px;
    }
  }